@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e3f2fd; /* Light blue background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 20px;
}

form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-top: 40px;
    z-index: 10;
}

form h2 {
    font-size: 24px;
    color: #0277bd; /* Dark blue for the heading */
    margin-bottom: 20px;
}

input[type="email"] {
    background-color: #e1f5fe; /* Light blue input */
    border: 1px solid #0288d1; /* Blue border */
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="email"]:focus {
    background-color: #b3e5fc; /* Slightly darker blue on focus */
    border-color: #01579b; /* Darker border on focus */
}

button[type="submit"] {
    background-color: #0288d1; /* Primary blue button */
    color: #fff;
    font-size: 16px;
    padding: 14px 50px;
    border: 1px solid transparent;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    display: block;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0277bd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

button[type="submit"]:active {
    transform: translateY(1px); /* Slightly push down on button click */
}

a.back-link {
    color: #039be5; /* Light blue for back link */
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    font-weight: 600;
    transition: color 0.3s ease;
}

a.back-link:hover {
    color: #0288d1; /* Darker blue on hover */
}

.success-message,
.error-message {
    font-size: 14px;
    color: white;
    background-color: #28a745; /* Success message color */
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.error-message {
    background-color: #dc3545; /* Error message color */
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }

    button[type="submit"] {
        padding: 12px 30px;
    }
}
